<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" media="screen" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" media="screen" rel="stylesheet" th:href="@{/css/core.css}" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="common-navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Task-management-system</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                 <li th:classappend="${module == 'home' ? 'active' : ''}">
                     <a href="#" th:href="@{/}">Home</a>
                 </li>
                 <li th:classappend="${module == 'profile' ? 'active' : ''}">
                     <a href="#" th:href="@{/profile}">Profile</a>
                 </li>
                <li th:classappend="${module == 'sprint' ? 'active' : ''}">
                    <a href="#" th:href="@{/sprint}">Sprint</a>
                </li>
                <li th:classappend="${module == 'product' ? 'active' : ''}">
                    <a href="#" th:href="@{/product}">Product</a>
                </li>
                <li th:classappend="${module == 'history' ? 'active' : ''}">
                    <a href="#" th:href="@{/history}">History</a>
                </li>
             </ul>

             <ul class="nav navbar-nav navbar-right">
                 <li th:if="true">
                 <!-- instead true -->
                 <!--"${#authorization.expression('!isAuthenticated()')}"-->
                         <a href="/signin" th:href="@{/login}">
                         <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                     </a>
                 </li>
                <li th:if="true">
                    <!-- instead true -->
                    <!--"${#authorization.expression('!isAuthenticated()')}"-->
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                         <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                     </a>
                     <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                 </li>
             </ul>

         </div>
         <!--/.nav-collapse -->
    </div>
</nav>
</body>
</html>