<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/menu :: common-header">
    <title>Save Product</title>
</head>
<div th:replace="fragments/menu :: common-navigation">&nbsp;</div>
<body>
<div class="container">
    <h2 class="text-center text-white">Create Product</h2>
    <form th:object="${product}" class="form-narrow form-horizontal" method="post">
        <fieldset>
            <legend>Please add product info</legend>
            <div class="form-group">
                <label for="productName" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input th:field="*{productName}" type="text" class="form-control" id="productName" placeholder="name"/>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-lg-2 control-label">Descr</label>
                <div class="col-lg-10">
                    <textarea th:field="*{description}" type="text" class="form-control" id="description" placeholder="description">
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="requirements" class="col-lg-2 control-label">Requirements</label>
                <div class="col-lg-10">
                    <textarea th:field="*{requirements}" type="text" class="form-control" id="requirements" placeholder="requirements">
                    </textarea>
                </div>
            </div>
            <!--<div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_spring_security_remember_me" /> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <p>New here? <a href="signup" th:href="@{/signup}">Sign Up</a></p>
                </div>
            </div>-->
        </fieldset>

    </form>
    <hr>

    <a th:href="@{/product}"> Back to Product</a>
</div>
</body>
</html>