<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/menu :: common-header">
    <title>New task</title>
</head>
<div th:replace="fragments/menu :: common-navigation">&nbsp;</div>
<body>
<div class="container">
    <h1>Task Management System</h1>
    <hr>
    <h2>Save Task</h2>

    <form th:object="${task}" method="POST">
        <input type="text" th:field="*{taskName}" placeholder="Task Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{type}" placeholder="Task Type" class="form-control mb-4 col-4">

        <input type="text" th:field="*{description}" placeholder="Task description" class="form-control mb-4 col-4">

        <input type="text" th:field="*{priority}" placeholder="Task Priority" class="form-control mb-4 col-4">

        <input type="text" th:field="*{sprint}" placeholder="Task Sprint" class="form-control mb-4 col-4">

        <input type="text" th:field="*{product}" placeholder="Task Product" class="form-control mb-4 col-4">

        <input type="text" th:field="*{assignedTo}" placeholder="Task assignedTo" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Save Task</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Home</a>
</div>
</body>
</html>