<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/menu :: common-header">
    <title>Profile</title>
</head>
<div th:replace="fragments/menu :: common-navigation">&nbsp;</div>
<body>
<div class="container">
    <h2 class="text-center text-white">Create Product</h2>
    <form th:object="${product}" class="form-narrow form-horizontal" method="post">
        <fieldset>
            <legend>Please add product info</legend>
            <div class="form-group">
                <label for="productName" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input th:field="*{productName}" type="text" class="form-control"
                           id="productName" placeholder="name"/>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-lg-2 control-label">Descr</label>
                <div class="col-lg-10">
                    <textarea th:field="*{description}" type="text" class="form-control" id="description" placeholder="description">
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-lg-2 control-label">Requirements</label>
                <div class="col-lg-10">
                    <textarea th:field="*{requirementList}" type="text" class="form-control" id="requirementList" placeholder="requirementList">
                    </textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-info col-2"> Save Product</button>
        </fieldset>

    </form>
</div>
</body>
</html>