<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/menu :: common-header">
    <title>Profile</title>
</head>
<div th:replace="fragments/menu :: common-navigation">&nbsp;</div>
<body>
 <div class="container">
     <h1>Active Tasks</h1>
     <a th:href="@{/showNewTaskForm}" class="btn btn-primary btn-sm mb-3"> Add Task </a>
     <table border="1" class = "table table-striped table-responsive-md">
         <thead>
         <tr>
             <th>Name</th>
             <th>Type</th>
             <th>Priority</th>
             <th>Assigned From</th>
             <th>Description</th>
         </tr>
         </thead>
         <tbody>
         <!-- to do filter for User-->
         <tr th:each="task : ${listTasks}" th:if="${task.status} == 'IN_PROGRESS'">
             <td th:text="${task.taskName}"></td>
             <td th:text="${task.type}"></td>
             <td th:text="${task.priority}"></td>
             <td th:text="${task.assignedFrom}"></td>
         </tr>
         </tbody>
     </table>
 </div>
</body>
</html>